In [84]:
import numpy as np
import pandas as pd

In [85]:
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error, accuracy_score,precision_score,f1_score,roc_auc_score

In [86]:
df = pd.read_csv('IBRX-returns.csv', index_col='Date', parse_dates=True)

In [87]:
df.head()

,VALE3.SA,PETR4.SA,PETR3.SA,ITUB4.SA,BBDC4.SA,B3SA3.SA,ABEV3.SA,JBSS3.SA,WEGE3.SA,SUZB3.SA,ITSA4.SA,BBAS3.SA,BRAX11.SA,BOVA11.SA
Date,,,,,,,,,,,,,,
2012-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-03,0.043537,0.030814,0.034304,0.024671,0.020945,0.017285,-0.011462,0.029801,0.023306,0.0,0.029193,-0.004539,0.021995,0.023738
2012-01-04,0.006765,0.007114,0.006225,0.001146,0.001593,0.017983,-0.023517,0.018820,0.005222,0.0,0.001742,-0.004975,0.000000,0.000000
2012-01-05,-0.027102,-0.011587,-0.006225,-0.007473,-0.006388,-0.010951,-0.019997,0.016807,0.006231,0.0,-0.004361,-0.010445,-0.009189,-0.013620
2012-01-06,-0.008637,0.000896,-0.000833,0.007473,0.012419,0.014903,-0.002528,0.011599,-0.011453,0.0,0.005231,-0.025522,-0.000250,0.002427

In [88]:
df['PREDICTION'] = df['BOVA11.SA'].shift(1)

In [89]:
ytrain_true = df.iloc[2:-1000]['BOVA11.SA']
ytrain_pred = df.iloc[2:-1000]['PREDICTION']

In [90]:
Ctrain_true = (ytrain_true > 0)
Ctrain_pred = (ytrain_pred > 0)

In [91]:
ytest_true = df.iloc[-1000:]['BOVA11.SA']
ytest_pred = df.iloc[-1000:]['PREDICTION']

In [92]:
Ctest_true = (ytest_true > 0)
Ctest_pred = (ytest_pred > 0)

## Metrics

Main idea: get a feel for how the values relate to one another. What's "good"? What's "bad"? If the $R^2$ is "good", will the MAE also be "good"?

In [93]:
accuracy_score(Ctrain_true,Ctrain_pred), accuracy_score(Ctest_true,Ctest_pred)

(0.49062918340026773, 0.469)

In [94]:
precision_score(Ctrain_true,Ctrain_pred), precision_score(Ctest_true,Ctest_pred)

(0.4899598393574297, 0.4933078393881453)

In [95]:
f1_score(Ctrain_true,Ctrain_pred), f1_score(Ctest_true,Ctest_pred)

(0.4902880107166778, 0.49283667621776506)

In [96]:
roc_auc_score(Ctrain_true,Ctrain_pred), roc_auc_score(Ctest_true,Ctest_pred)

(0.49062916660693034, 0.4678218615690551)

In [97]:
# MSE
mean_squared_error(ytrain_true, ytrain_pred), mean_squared_error(ytest_true, ytest_pred)

(0.0004305762246533854, 0.0007812027761778316)

In [98]:
# RMSE
mean_squared_error(ytrain_true, ytrain_pred, squared=False), mean_squared_error(ytest_true, ytest_pred, squared=False)

(0.020750330711903978, 0.027950004940569)

In [99]:
# MAE
mean_absolute_error(ytrain_true, ytrain_pred), mean_absolute_error(ytest_true, ytest_pred)

(0.015989830580755034, 0.017953260447805867)

In [100]:
# R^2
r2_score(ytrain_true, ytrain_pred), r2_score(ytest_true, ytest_pred)

(-1.0215605096637606, -1.3853448033118463)

In [101]:
# MAPE
mean_absolute_percentage_error(ytrain_true, ytrain_pred), mean_absolute_percentage_error(ytest_true, ytest_pred)

(1879805039923.3313, 366390808229.65137)

## sMAPE

$$ E = \frac{1}{N} \sum_{i=1}^N \frac{|y_i - \hat{y}_i|}{(|y_i| + |\hat{y}_i|)/2} $$

In [102]:
# sMAPE
def smape(y_true, y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()

smape(ytrain_true, ytrain_pred), smape(ytest_true, ytest_pred)

(1.485005570493186, 1.4893802029246692)