In [20]:
import numpy as np
import pandas as pd

In [21]:
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error, accuracy_score,precision_score,f1_score,roc_auc_score

In [22]:
df = pd.read_csv('S&P-returns.csv', index_col='Date', parse_dates=True)

In [23]:
df.head()

,AAPL,MSFT,AMZN,GOOGL,GOOG,PG,TSLA,BAC,NVDA,JNJ,UNH,JPM,OEF,SPY
Date,,,,,,,,,,,,,,
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-04,0.005360,0.023261,-0.008526,0.004304,0.004304,-0.000449,-0.013264,0.001723,0.011332,-0.006090,0.014461,-0.000858,0.001721,0.001567
2012-01-05,0.011041,0.010167,0.000563,-0.013969,-0.013969,-0.004201,-0.021522,0.082555,0.035286,-0.001223,0.006677,0.020672,0.002061,0.002659
2012-01-06,0.010400,0.015415,0.027763,-0.013736,-0.013736,-0.002408,-0.007773,-0.020817,-0.011624,-0.008754,0.003606,-0.009009,-0.002577,-0.002581
2012-01-09,-0.001587,-0.013250,-0.022428,-0.043324,-0.043324,0.004211,0.012556,0.014458,0.000000,0.001541,-0.001137,-0.001698,0.001891,0.002424

In [24]:
df['PREDICTION'] = df['SPY'].shift(1)

In [25]:
ytrain_true = df.iloc[2:-1000]['SPY']
ytrain_pred = df.iloc[2:-1000]['PREDICTION']

In [26]:
Ctrain_true = (ytrain_true > 0)
Ctrain_pred = (ytrain_pred > 0)

In [27]:
ytest_true = df.iloc[-1000:]['SPY']
ytest_pred = df.iloc[-1000:]['PREDICTION']

In [28]:
Ctest_true = (ytest_true > 0)
Ctest_pred = (ytest_pred > 0)

## Metrics

Main idea: get a feel for how the values relate to one another. What's "good"? What's "bad"? If the $R^2$ is "good", will the MAE also be "good"?

In [29]:
accuracy_score(Ctrain_true,Ctrain_pred), accuracy_score(Ctest_true,Ctest_pred)

(0.4768125408229915, 0.5)

In [30]:
precision_score(Ctrain_true,Ctrain_pred), precision_score(Ctest_true,Ctest_pred)

(0.5226190476190476, 0.5559502664298401)

In [31]:
f1_score(Ctrain_true,Ctrain_pred), f1_score(Ctest_true,Ctest_pred)

(0.5229303156640858, 0.5559502664298401)

In [32]:
roc_auc_score(Ctrain_true,Ctrain_pred), roc_auc_score(Ctest_true,Ctest_pred)

(0.4718810929609293, 0.49193394328356993)

In [33]:
# MSE
mean_squared_error(ytrain_true, ytrain_pred), mean_squared_error(ytest_true, ytest_pred)

(0.00011662434667606358, 0.0004278475849220731)

In [34]:
# RMSE
mean_squared_error(ytrain_true, ytrain_pred, squared=False), mean_squared_error(ytest_true, ytest_pred, squared=False)

(0.010799275284761638, 0.020684476907141574)

In [35]:
# MAE
mean_absolute_error(ytrain_true, ytrain_pred), mean_absolute_error(ytest_true, ytest_pred)

(0.008077224484570576, 0.01225868014881295)

In [36]:
# R^2
r2_score(ytrain_true, ytrain_pred), r2_score(ytest_true, ytest_pred)

(-0.9790065668831152, -1.4410437539036267)

In [37]:
# MAPE
mean_absolute_percentage_error(ytrain_true, ytrain_pred), mean_absolute_percentage_error(ytest_true, ytest_pred)

(150671205691.61627, 40488736990.241264)

## sMAPE

$$ E = \frac{1}{N} \sum_{i=1}^N \frac{|y_i - \hat{y}_i|}{(|y_i| + |\hat{y}_i|)/2} $$

In [38]:
# sMAPE
def smape(y_true, y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()

smape(ytrain_true, ytrain_pred), smape(ytest_true, ytest_pred)

(1.5166785785973715, 1.4797064854157946)